* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEC0C6;
    color: #484A47;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5rem repeat(6, 40rem) 20rem;
    grid-template-areas:
        "nav img1"
        "intro img1"
        "img2 enlightenment"
        "about img3"
        "img4 participation"
        "reqs img5"
        "img6 design"
        "footer footer";
}

.grid-container > * {
    margin-bottom: 1rem;
}

nav {
    grid-area: nav;
}

ul {
    list-style-type: none;
}

.flex-nav {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .top-bottom-links > li > a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.top-bottom-links >li > a:hover {
    background-color: #d83d3b;
} */

.top-bottom-links > li > a {
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
}

.top-bottom-links > li > a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d83d3b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.top-bottom-links>li>a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1 {
    color: #d83d3b;
}

h2 {
    color: #34acb4;
}

span {
    color: #E58C8A;
}

h1, .coffee-icon, .cookie-icon, h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.second-h2 {
    margin-top: 1rem;
}

.text-block {
    padding: 4rem;
}

.hyperlink {
    color: #484A47;
}

.hyperlink:hover {
    color: #FFF07C;
}

.img1 {
    grid-area: img1;
    background: url('images/donut-1.jpg') center center;
    background-size: cover;
}

.intro {
    grid-area: intro;
    align-self: center;
}

.coffee-icon, .cookie-icon {
    color: white;
}

.not-first-paragraph {
    margin-top: 1rem;
}

.img2 {
    grid-area: img2;
    background: url('images/donut-2.jpg') center center;
    background-size: cover;
}

.road-to-enlightenment {
    grid-area: enlightenment;
    align-self: center;
}

.about {
    grid-area: about;
    align-self: center;
}

.img3 {
    grid-area: img3;
    background: url('images/donut-3.jpg') center center;
    background-size: cover;
}

.img4 {
    grid-area: img4;
    background: url('images/donut-4.jpg') center center;
    background-size: cover;
}

.participation-benefits {
    grid-area: participation;
    align-self: center;
}

.requirements {
    grid-area: reqs;
    align-self: center;
}

.img5 {
    grid-area: img5;
    background: url('images/donut-5.jpg') center center;
    background-size: cover;
}

.img6 {
    grid-area: img6;
    background: url('images/donut-6.jpg') center center;
    background-size: cover;
}

.design {
    grid-area: design;
    align-self: center;
}

footer {
    grid-area: footer;
    align-self: center;
}

footer > * {
    margin-bottom: 2rem;
}

.flex-footer {
    display: flex;
    justify-content: space-evenly;
}

.copyright {
    margin-bottom: 0;
}