* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 10%, repeat(6, 1fr), 25%; */
    grid-template-rows: repeat(8, 25rem);
    grid-template-areas:
        "nav img1"
        "intro img1"
        "img2 enlightenment"
        "about img3"
        "img4 participation"
        "reqs img5"
        "img6 design"
        "footer footer";
}

nav {
    grid-area: nav;
}

.img1 {
    grid-area: img1;
}

.intro {
    grid-area: intro;
}

.img2 {
    grid-area: img2;
}

.road-to-enlightenment {
    grid-area: enlightenment;
}

.about {
    grid-area: about;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.participation-benefits {
    grid-area: participation;
}

.requirements {
    grid-area: reqs;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.design {
    grid-area: design;
}

footer {
    grid-area: footer;
}