* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 12rem;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

.page-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25%, 25%, repeat(2, 1fr), 25%;
    grid-template-areas:
        "header header header header"
        "intro intro intro intro"
        "main main main sidebar"
        "main main main sidebar"
        "footer footer footer footer";
    font-size: 1.15rem;
}

header, .intro, .main, .sidebar, footer {
    padding: 1rem 3rem;
}

header {
    grid-area: header;
    background-image: linear-gradient(135deg, #F97794 10%, #623AA2 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    margin: 1rem 0;
    font-family: 'Fugaz One', cursive;
    color: #623AA2;
}

h1 {
    font-size: 4rem;
    color: #fff;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

#enlightenment {
    margin-top: 2rem;
}

.main-nav {
    width: 100%;
    max-width: 60rem;
}

.nav-menu {
    /* background-color: #9EB7E5; */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.intro {
    /* background-color: #335C67; */
    grid-area: intro;
    margin-top: 12rem;
    text-align: center;
}

.main {
    /* background-color: #E09F3E; */
    grid-area: main;
}

.hyperlink {
    color: #F97794;
}

.sidebar {
    /* background-color: #9E2A2B; */
    grid-area: sidebar;
}

.sidebar-list {
    list-style: none;
}

.sidebar-list li {
    margin-bottom: 0.75rem;
}

footer {
    /* background-color: #c46566; */
    grid-area: footer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer a {
    margin: 0 2rem;
}

@media screen and (max-width: 700px) {
    .page-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 25%, 25%, repeat(2, 1fr), 25%;
        grid-template-areas:
            "intro"
            "main"
            "sidebar"
            "footer";
        margin-bottom: 2rem;
    }

    .intro {
        margin-top: 17rem;
    }
}

@media screen and (min-width: 700px) {
    .page-wrapper {
        margin: 0 6rem 2rem;
    }

    .main {
        margin-right: 2rem;
    }

    .sidebar {
        padding-left: 1.5rem;
    }

    .sidebar-headers {
        margin-top: 4rem;
    }
}